ipykernel
python-dotenv
pandas
numpy
scikit-learn
matplotlib
seaborn
requests

torch
torchvision

transformers
datasets
wandb
scipy
tqdm
scikit-image
pillow
opencv-python
opencv-python-headless
Pillow 
albumentations
timm
imgaug
pycocotools
torchmetrics
pyyaml
fastervit